.min-h-screen{
    min-height: 100vh;
}
.bg-red{
    background-color: red;
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;

}
.flex{
    display: flex;
}
.items-center{

    align-items: center;
}
.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}


.flex-col{
    flex-direction: column;
}
.font-bold{
    font-weight: bolder;
}
.my-1{
    margin-top: 15px;
    margin-bottom: 15px;
}
.my-2{
    margin-top: 30px;
    margin-bottom: 30px;
}
.px-2{
    padding-left: 15px;
    padding-right: 15px;
}
.text-blue{
    color: rgb(164, 164, 245);
}
.btn{
    padding: 4px 12px;
    border: 4px solid white;
    border-radius: 10px;
    color: white;
    background-color: rgb(117, 117, 207); ;
}
/* .overflow-hidden{
    overflow: hidden;
} */
.text-center{
    text-align: center;
}
.image2{
    text-align: center;
}